*{ 
    margin : 0px ;
    padding: 0px ;
}

html,
   #viewDiv {
      padding: 0;
      margin: 0;
      height: 80vh ;
      position : relative;
    }
body{ padding-top :10px ;}

#goto{
    position: absolute ;
}

h1{
    text-align : center ;
}